/* .container-fluid{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
   
} */
.case{
    background-color:sienna;
    text-align: center;
    text-transform: uppercase;
    
}

.case h1{
    font-size: 50px;
    font-weight: bold;
}

.btn{
    background: #000;
    margin-top: 10px;
    
}

.btn:hover{
    background: sienna;
}