<p>
   Author: {{quote.author}}
    
</p>

<p>
   Publisher Name: {{quote.name}}
</p>

<p>
 Date: {{quote.myDate}}
 </p>

 

 <!-- <p>
   Upvote: {{quote.upvote}}
</p>

<p>
   Downvote: {{quote.downvote}}
</p> -->

<div class="aligned votes">
   <div>
     
     <div class="value">
       {{ votes }}
     </div> 
     <div class="label">
       Votes:
     </div>
 
   </div>
 
 </div>

 <div>
    
  
     
      <button class="btn btn-primary" (click)="upvote()">Upvote</button>
      <button class="btn btn-primary" (click)="downvote()">Downvote</button>

 </div>


 
